/*Modal CSS Style parameters */

/* The modal background */
 .modal {
    display         : none;             /* Hidden by default */
    position        : fixed;            /* Fix the modal */
    z-index         : 1;                /* Make the modal at the first plan */
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    overflow        : auto;             /* Enable scroll*/
    background-color: rgb(0,0,0);       /* Fallback color */
    background-color: rgba(0,0,0,0.8);  /* background opacity */
  }
  
  /* Modal Box */
  .modalContent {
    background-color: #fefefe;
    margin          : 10% auto;        /* margin from the top and centered */
    padding         : 20px;
    border          : 1px solid #888;
    width           : 25%;             /* Modal size */
    border-radius   : 20px;
    padding         : 0.5rem;
  }
  
  /* The close button */
  .close {
    color      : #aaa;
    float      : right;
    font-size  : 28px;
    font-weight: bold;
  }
/* Focus on close button (properties) */
  .close:hover,
  .close:focus {
    color          : black;
    text-decoration: none;
    cursor         : pointer;
  }
/* Title in the modal box (properties) */
  .modalTitle
  {
    margin-top: 60px;
    text-align: center;
    border    : solid 1px #000000;
  }
/* fields in the modal box (properties) */
  .fields
  {
    font-family: 'Courier New', Courier, monospace;
    font-size  : 12px;
    
    margin-bottom: 10px;
    margin-top   : 10px;
    margin-right : 10px;
    margin-left  : 5px;

    border               : solid 1px #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    border-radius        : 5px;
  }
/* Hours fields in parameters modal */
  .hours
  {
    width : 3rem;
  }
/* labels in the modal box (properties) */
  .labels
  {
    margin-left: 5px;
  }
/* Configure textarea properties */
  .desc
  {
    resize: none;
    width : 300px;
    height: 100px;
  }
/* Configure the resources description*/
  .resourcesDesc
  {
    resize: none;
    width : 300px;
    height: 20px;
  }
/* Configure the size of labels on the top of checkboxes */
  .check
  {
    font-size: 10px;
  }
/* labels & fields background */
  .taskParameters
  {
    background-image: url(../image/bg_modal.jpg);
    border-radius   : 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* button in the modal box (properties) */
  .modalButton
  {
    margin    : auto;
    display   : block;
    margin-top: 2rem;
  }
/* Listing fields in the list modal */
  .listFieldsImp
  {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
    background-color: #cfcfcf;

  }
  .listFields
  {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #464646;
    font-size: 12px;
  }
/* Error field */
  .error
  {
    color: #ff3434;
    background-color: #8b0505;
  }
