/* Main page CSS Style*/

/* Html page parameters */
html
{
    background-image: url(../image/background2.jpg);
    /* background-size: cover; */
}

/* Header title */
.title
{
    /* Some title properties */
    text-align : center;
    background : #acb6b8;
    color      : #818181;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-size  : 25px;

    width : auto;
    height: 3rem;
    border: solid 4px #000000;
}

/* Menu properties
(Where are located create/update/delete buttons) 
*/
.menu
{
    width         : 700px;
    height        : 60px;
    margin-bottom : 25px;
    vertical-align: middle;
    background    : transparent;
}

/* buttons (create/update/delete) properties */
.button
{
    position             : sticky;
    font-size            : 18px;
    font-weight          : bold;
    margin-right         : 1rem;
    margin-top           : 2rem;
    color                : #4e4e4e;
    background           : linear-gradient(#ffffff, #cecccc, #b6b5b5, #9c9b9b, #817f7f);
    border               : solid 2px #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    border-radius        : 10px;
}
